@charset "UTF-8";
@import "reset.css";

html {
  font-size: 100%;
  font-family: 'Noto Sans TC', sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
a:hover {
  color: white;
}
body {
  display: grid;
  max-width: 1500px;
  grid-template-areas: "sidebar""content";
  margin: 80px 20px 80px 20px;
  background: linear-gradient(273deg, #1ca5ce, #3566cf);
  color: white;
  letter-spacing: 2px;
}
.sidebar {
  display: grid;
  margin: auto;
}
.navbuttons {
  display: none;
}
.club_symbol {
  width: 297px;
}
.content {
  grid-area: content;
  display: grid;
  grid-row-gap: 80px;
}
h1 {
  font-size: 2rem;
  letter-spacing: 4px;
  line-height: 5rem;
  margin-bottom: 15px;
}
h2 {
  font-size: 1.5rem;
  line-height: 3rem;
}
ul {
  font-size: 1.2rem;
  line-height: 40px;
  font-style: italic;
  list-style-type: circle;
  margin: 20px 0 20px 0;
  padding-left: 1.2rem;
}
#underline{
  animation: blink 1s infinite;
}
@keyframes blink {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}
.slideshow-container{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin: 100px auto 100px auto;
}
.slides {
    display: none;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.6s;
    animation-name: fade;
    animation-duration: 0.6s;
}
@-webkit-keyframes fade {
  from {opacity: 0.2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.2}
  to {opacity: 1}
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -40px;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 3px;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
.prev:hover, .next:hover {
    background-color: rgba(255,255,255,0.4);
}
.square_title {
  border: solid 2px #ffffff;
  padding: 5px;
  margin: 0 14px 0 14px;
  text-align: center;
  letter-spacing: 5px;
  color: white;
}
.socialbuttons {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
  letter-spacing: 50px;
}
p {
  font-size: 1.2rem;
  line-height: 45px;
}
#intro {
  display:flex;
  width: 100%;
  margin: 100px auto 0 auto;
  flex-direction: column;
  align-items: center;
}
#intro_decoration {
  font-size: 7rem;
  line-height: 10rem;
}
.sublist {
  display: grid;
  grid-row-gap: 80px;
}
@media(min-width:1000px) {
  body {
    grid-template-areas: "sidebar content";
    grid-template-columns: 400px auto;
    margin: 80px auto 80px auto;
    padding: 0 30px 0 30px;
  }
  .sidebar {
    grid-area: sidebar;
    position: fixed;
    grid-row-gap: 25px;
  }
  .navbuttons {
    display: block;
    padding-left: 12px;
    font-size: 1.4rem;
    letter-spacing: 3px;
  }
  .socialbuttons {
    text-align: left;
    padding-left: 12px;
    margin: 0;
    letter-spacing: 16px;
  }
  #intro {
    flex-direction: row;
    justify-content: space-between;
  }
}
