.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}
.socialbuttons {
  padding: 0;
  text-align: center;
}
.buttons {
  background: rgba(0, 0, 0, 0);
  border: solid 2px #ffffff;
  padding: 5px;
  margin: 0 14px 0 14px;
  text-align: center;
  letter-spacing: 5px;
  color: white;
  cursor: pointer;
  font-size: 30px;
  transition: 0.6s ease;
}
.buttons:hover {
  background-color: white;
  color: grey;
}
#pause, #continue {
  display: none;
}
#gameover {
  position: absolute;
  font-size: 4rem;
  color: black;
  width: auto;
  height: 4.5rem;
  bottom: 100px;
}
#gameoverscore {
  position: absolute;
  font-size: 4rem;
  color: black;
  width: auto;
  height: 4.5rem;
  botoom: 0;
}
@media(min-width:1000px) {
  #gameover {
    top: 300px;
  }
  #gameoverscore {
    top: 400px;
  }
}
